(module config
  {autoload {nvim aniseed.nvim
             null-ls null-ls
             lsp local.lsp}})

(import-macros {:def-keymap map!
                :def-keymap-fn map-fn!
                :def-autocmd autocmd!
                :def-augroup augroup!} :zest.macros)

(set nvim.o.colorcolumn :100)
(set nvim.o.textwidth 99)

(set nvim.o.path (.. nvim.o.path ",./client/src"))

;(vim.lsp.set_log_level "debug")

(lsp.auto-format-on-save
  [:typescript :typescriptreact :json :javascript :css])

(lsp.auto-format-on-save
  [:ruby]
  {:name "null-ls"})

(null-ls.setup {:sources [null_ls.builtins.diagnostics.rubocop]})
